/* typography.css */

/* Plain text */
body {
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  text-align: var(--text-align);
}

p,
li,
blockquote {
  margin-top: var(--text-margin-top);
  margin-right: var(--text-margin-right);
  margin-bottom: var(--text-margin-bottom);
  margin-left: var(--text-margin-left);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  letter-spacing: var(--heading-letter-spacing);
  text-align: var(--heading-align);

  margin-top: var(--heading-margin-top);
  margin-bottom: var(--heading-margin-bottom);
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }
h6 { font-size: var(--h6-size); }
