---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import TextWithImage from '../../components/TextWithImage.astro';
import QuoteBlock from "../../components/QuoteBlock.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Θεραπεία ζεύγους">

  <SitePage
    title="Θεραπεία ζεύγους"
  >

    <QuoteBlock
      author="V. Satir"
      position="right"
      align="right"
      edgeMargin="0.0rem"
      size="md"
    >
      "Ενωνόμαστε με βάση τις ομοιότητές μας· μεγαλώνουμε με βάση τις διαφορές μας"
    </QuoteBlock>

    <TextWithImage
      imageSrc=`${import.meta.env.BASE_URL}/images/composition-3.jpg`
      imageAlt="Couple Therapy"
      imagePosition="top-left"
      textAlignment="justify"
      imageMargin="1.5rem"
      imageWidth="300px"
      roundedCorners={true}
      mobileImageWidth="50%"
      mobileSpacing="1.5rem"
    >
      <p>
        Στο πλαίσιο της συστημικής θεωρίας, η σχέση δεν εξετάζεται απομονωμένα,
        αλλά ως μέρος ενός ευρύτερου συστήματος – οικογένειας, κοινωνικού περιβάλλοντος
        και προσωπικού ιστορικού – όπου κάθε μέλος επηρεάζει και επηρεάζεται από τους
        υπόλοιπους. Οι δυσκολίες του ζευγαριού συχνά αντανακλούν αμοιβαίες προσαρμογές
        σε επαναλαμβανόμενα σχεσιακά μοτίβα που διαμορφώνουν τη συναισθηματική
        ισορροπία της σχέσης. Η συστημική θεραπεία ζεύγους επιτρέπει την παράλληλη
        κατανόηση των ατομικών αναγκών και συναισθημάτων, αλλά και των τρόπων με τους
        οποίους οι αλληλεπιδράσεις του ζευγαριού μπορούν να ενισχύουν ή να δυσχεραίνουν
        τη συναισθηματική σύνδεση και την αποτελεσματική επικοινωνία.
      </p>

      <p>
        Η θεραπεία ζεύγους προσφέρει έναν μη επικριτικό και υποστηρικτικό χώρο,
        όπου δύο άνθρωποι μπορούν να διερευνήσουν τη δυναμική της σχέσης τους, να
        αναγνωρίσουν και να κατανοήσουν τα επαναλαμβανόμενα μοτίβα επικοινωνίας που
        υιοθετούν και αναπαράγουν, καθώς και να εξελίξουν πιο επιδέξιους και
        λειτουργικούς τρόπους σύνδεσης και αλληλεπίδρασης. Η διαδικασία αυτή μπορεί να
        αποδειχθεί ιδιαίτερα ωφέλιμη σε περιπτώσεις επικοινωνιακών δυσκολιών, συχνών
        συγκρούσεων, κρίσεων εμπιστοσύνης, προβλημάτων οικειότητας, διαφορών ως προς
        την ανατροφή των παιδιών ή συγκρούσεων που επηρεάζουν την καθημερινή ζωή του
        ζευγαριού. Παράλληλα, η θεραπεία μπορεί να λειτουργήσει ως ουσιαστικό εργαλείο
        προετοιμασίας για το ενδεχόμενο διαζυγίου, βοηθώντας τα μέλη του ζευγαριού να
        διαχειριστούν τη διαδικασία με σεβασμό, συναισθηματική σαφήνεια και στρατηγική
        επικοινωνία, μειώνοντας εντάσεις και προσφέροντας ασφαλείς τρόπους για την
        αναδιοργάνωση της σχέσης με βάση νέες πραγματικότητες.
      </p>

      <p>
        Στη συστημική θεραπεία ζεύγους, η διαδικασία είναι δυναμική και
        συνεργατική. Οι συνεδρίες συνήθως πραγματοποιούνται ανά 1–2 εβδομάδες,
        διάρκειας 60–90 λεπτών, ανάλογα με τις ανάγκες και τους στόχους του ζευγαριού.
        Ο θεραπευτής λειτουργεί ως «καθρέφτης» και καθοδηγητής, ενισχύοντας την
        ικανότητα των ατομων για αναγνώριση των μοτίβων που επηρεάζουν τη σχέση,
        υποστηρίζοντας την αποτελεσματική συναισθηματική επικοινωνία και προάγοντας τη
        λήψη συνειδητών αποφάσεων με γνώμονα την αλλαγή και βελτίωση της σχέσης.
      </p>

    </TextWithImage>

  </SitePage>

</BaseLayout>

