---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Ατομική ψυχοθεραπεία εφήβων" data-theme="theme-sage">

  <div data-theme="theme-sage">
    <h1>Individual Teenagers Therapy</h1>
    <div class="card" data-theme="theme-floral">
      <p>This is individual teenagers therapy page: {CONFIG.todo}</p>
    </div>
  </div>

</BaseLayout>

