---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Διαδικτυακές συνεδρίες" data-theme="theme-sage">

  <div data-theme="theme-sage">
    <h1>Online Sessions</h1>
    <div class="card" data-theme="theme-floral">
      <p>This is online sessions page</p>
    </div>
  </div>

</BaseLayout>

