---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import TextWithImage from '../../components/TextWithImage.astro';
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Διαδικτυακές συνεδρίες">

  <SitePage
    title="Διαδικτυακές συνεδρίες"
  >
    <TextWithImage
      imageSrc=`${import.meta.env.BASE_URL}/images/service-online.jpg`
      imageAlt="Online sessions"
      imagePosition="top-right"
      textAlignment="justify"
      imageMargin="33px"
      imageWidth="300px"
      roundedCorners={true}
      mobileImageWidth="50%"
      mobileSpacing="1.5rem"
    >
      <p>
        Η διαδικτυακή ψυχοθεραπεία συνιστά μια σύγχρονη και ασφαλή μέθοδο
        παροχής ψυχολογικής υποστήριξης και θεραπείας μέσω ψηφιακών πλατφορμών.
        Η προσέγγιση αυτή διασφαλίζει την υψηλή ποιότητα της θεραπευτικής διαδικασίας,
        αντίστοιχη με τη δια ζώσης συνεδρία, διατηρώντας ταυτόχρονα την
        εμπιστευτικότητα, τη συνοχή και την προσωπική σύνδεση μεταξύ θεραπευτή και
        θεραπευόμενου.
      </p>

      <p>
        Η διαδικτυακή θεραπεία προτείνεται σε περιπτώσεις όπου η φυσική
        παρουσία είναι δύσκολη ή ανέφικτη, όπως περιορισμένη κινητικότητα, γεωγραφική
        απόσταση, έντονη επαγγελματική ή οικογενειακή επιβάρυνση, προσωρινές συνθήκες
        περιορισμού ή σε άτομα που αισθάνονται μεγαλύτερη ασφάλεια και άνεση ξεκινώντας
        τη θεραπεία από τον προσωπικό τους χώρο. Παράλληλα, προσφέρει ευελιξία και
        συνεχή υποστήριξη, διασφαλίζοντας την πρόσβαση σε θεραπευτικές υπηρεσίες χωρίς
        συμβιβασμούς στην αποτελεσματικότητα ή στη θεραπευτική σχέση.
      </p>

      <p>
        Τα κύρια οφέλη της διαδικτυακής θεραπείας περιλαμβάνουν:
        <style>
            li {
                margin-left: 18px;
            }
        </style>
        <ul>
          <li>
            Ευελιξία στον προγραμματισμό και δυνατότητα πρόσβασης από
            οποιονδήποτε χώρο.
          </li>
          <li>
            Συνεχή και σταθερή υποστήριξη χωρίς τη φυσική ανάγκη μετακίνησης.
          </li>
          <li>
            Αίσθηση ασφάλειας και άνεσης, ιδιαίτερα για άτομα που νιώθουν άγχος
            ή δυσφορία στις δια ζώσης συνεδρίες.
          </li>
          <li>
            Διατήρηση της συνέχειας της θεραπείας σε περιόδους μετακίνησης
            ή αλλαγών στην καθημερινότητα.
          </li>
        </ul>
      </p>

      <p>
        Στην πρακτική τους εφαρμογή, οι συνεδρίες διαδικτυακής ψυχοθεραπείας
        πραγματοποιούνται με τον ίδιο τρόπο όπως οι παραδοσιακές συνεδρίες:
        ο θεραπευτής μαζί με τον θεραπευόμενο συνκαθορίζουν την  διάρκεια (συνήθως
        50–60 λεπτά), τη συχνότητα (συνήθως εβδομαδιαία ή ανά 2 εβδομάδες) και τη δομή
        της συνεδρίας. Κατά τη διάρκεια της συνεδρίας, ο θεραπευτής χρησιμοποιεί
        τεχνικές επικοινωνίας, παρατήρησης και ανάδρασης, προσαρμόζοντας τα εργαλεία
        στην ψηφιακή πλατφόρμα. Ιδιαίτερη έμφαση δίνεται στην εξασφάλιση της
        ιδιωτικότητας και ασφαλούς σύνδεσης, καθώς και στην καθοδήγηση του πελάτη για
        τη διατήρηση συγκέντρωσης και συμμετοχής κατά τη διάρκεια της συνεδρίας.
      </p>

    </TextWithImage>

  </SitePage>

</BaseLayout>

