---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Parents Counseling" data-theme="theme-sage">

  <div data-theme="theme-sage">
    <h1>Parents Counseling</h1>
    <div class="card" data-theme="theme-floral">
      <p>This is parents counseling page: {CONFIG.todo}</p>
    </div>
  </div>

</BaseLayout>

