---
import BaseLayout from "../layouts/BaseLayout.astro";
import SitePage from "../components/SitePage.astro";
import TextWithImage from '../components/TextWithImage.astro';
import { CONFIG } from "../site-config";
---

<BaseLayout title="Βιογραφικό">

  <SitePage
    title="Βιογραφικό"
  >

    <TextWithImage
      imageSrc=`${import.meta.env.BASE_URL}/images/img-about.jpg`
      imageAlt="Sample image"
      imagePosition="top-left"
      textAlignment="justify"
      imageMargin="1.5rem"
      imageWidth="300px"
      roundedCorners={true}
      mobileImageWidth="50%"
      mobileSpacing="1.5rem"
    >
      <p>
        Η Κωνσταντίνα Ζερβάκη είναι Ψυχολόγος (Αρ. Αδ.:TODO) και Κοινωνική Λειτουργός (Αρ. Αδ.:TODO).
        Ολοκλήρωσε τις προπτυχιακές της σπουδές στο
        Τμήμα Ψυχολογίας του Εθνικού & Καποδιστριακού Πανεπιστημίου Αθηνών
        και στο Τμήμα Κοινωνικής Εργασίας του ΑΤΕΙ Αθήνας. Ειδικεύεται στην
        Συστημική Ψυχοθεραπεία και
        Θεραπεία Οικογένειας & Ζεύγους από το Ερευνητικό Πανεπιστημιακό Ινστιτούτο Ψυχικής Υγιεινής
        (ΕΠΙΨΥ, A’ & Β' Ψυχιατρική Κλινική ΕΚΠΑ), καθώς και στην Διαλεκτική Συμπεριφορική θεραπεία
        από την Ελληνική Εταιρεία Έρευνας της Συμπεριφοράς & το Behavioural Tech Ιnstitute, USA
        (σε συνεργασία με το Τμήμα Διαλεκτικής Συμπεριφορικής ψυχοθεραπείας
        της Α' Ψυχιατρικής Κλινικής ΕΚΠΑ).
        Κατέχει μεταπτυχιακό τίτλο σπουδών στις αναπτυξιακές και γνωστικές διαταραχές από το
        Πανεπιστήμιο του Kent
        (ΜΑ in Intellectual & Developmental Disabilities) και έχει παρακολουθήσει
        μετεκπαιδεύσεις στην ψυχοπαθολογία
        και ψυχοδιαγνωστική (ΕΠΙΨΥ), την ψυχαναλυτική κλινική (ΕΨΕ),
        την ειδική αγωγή (Μονάδα Αναπτυξιακής Παιδιατρικής,
        Β’ Κλινική ΕΚΠΑ), την ψυχοεκπαίδευση και συμβουλευτική γονέων, κα.
      </p>


      <p>
        Διαθέτει πολυετή επαγγελματική εμπειρία στον τομέα της ψυχοκοινωνικής αποκατάστασης
        ενηλίκων και εφήβων
        με σύνθετες ψυχικές διαταραχές και στον τομέα της παιδικής προστασίας.
        Έχει διατελέσει επί σειρά ετών,
        Επιστημονικά Υπεύθυνη της Μονάδας Ψυχοκοινωνικής Αποκατάστασης Εφήβων
        της Εταιρείας Περιφερειακής Ανάπτυξης
        & Ψυχικής Υγείας (ΕΠΑΨΥ) και Σύμβουλος Ψυχικής Υγείας του Παιδικού Xωριού SOS Βάρης.
        Έχει επίσης εργαστεί ως μέλος θεραπευτικών ομάδων, σε δημόσιες κοινοτικές υπηρεσίες
        ψυχικής υγείας στο
        Ηνωμένο Βασίλειο (Bristol City Council Integrated Discharge Service,
        Avon & Wiltshire Mental Health Partnership Trust, NHS),
        καθώς και σε αποκαταστασιακές δομές για χρόνιους ψυχικά πάσχοντες και άτομα
        με αναπτυξιακές και νοητικές αναπηρίες
        (ΜΚΟ ΕΔΡΑ, Freeways Trust, Σύλλογος Γονέων Ατόμων με Νοητική Αναπηρία "Το Εργαστήρι").
      </p>

      <p>
        Παρέχει υπηρεσίες ατομικής ψυχοθεραπείας και συμβουλευτικής
        σε ενήλικες και εφήβους που παρουσιάζουν ψυχοσυναισθηματικές
        και συμπεριφορικές δυσκολίες, αγχώδεις και συναισθηματικές διαταραχές,
        όπως κατάθλιψη και κρίσεις πανικού,
        αναπτυξιακές διαταραχές, διαταραχές προσωπικότητας οριακού τύπου,
        αναπτυξιακό τραύμα και διαταραχές μετατραυματικού στρες,
        πένθος, κα., καθώς και υπηρεσίες θεραπείας ζεύγους και οικογένειας
        (TODO: εδω θελει αναδιατύπωση).
      </p>

      <p>
        Λαμβάνει συστηματική ατομική και ομαδική εποπτεία με σκοπό την αποτελεσματική εφαρμογή
        και τη διασφάλιση των υπηρεσιών της στο θεραπευτικό πλαίσιο.
      </p>

    </TextWithImage>

  </SitePage>

</BaseLayout>
