---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Βιογραφικό">

  <div data-theme="theme-floral">
    <h1>About</h1>
    <div class="card" data-theme="theme-sage">
      <p>This is about page</p>
    </div>
  </div>

</BaseLayout>
