---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Επικοινωνία">

  <div data-theme="theme-floral">
    <h1>Contact</h1>
    <div class="card" data-theme="theme-sage">
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
      <p>This is contact page</p>
    </div>
  </div>

</BaseLayout>
