---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Demo">

  <div data-theme="theme-floral">
    <h1>Demo page</h1>
    <div class="card" data-theme="theme-sage">
      <p>This is demo page: {CONFIG.todo}</p>
    </div>
  </div>

</BaseLayout>
