---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Demo">

  <div data-theme="theme-floral">
    <h1>Hello World</h1>
    <div class="card" data-theme="theme-sage">
      <p>Floral card content</p>
    </div>
  </div>

</BaseLayout>
