---
import BaseLayout from "../layouts/BaseLayout.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Demo" data-theme="theme-sage">

  <div data-theme="theme-sage">
    <h1>Demo page</h1>
    <div class="card" data-theme="theme-floral">
      <p>This is demo page</p>
    </div>
  </div>

</BaseLayout>

