---
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkIntra from "../components/LinkIntra.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Υπηρεσίες">

  <div data-theme="theme-floral">
    <h1>Services</h1>

    <div class="card" data-theme="theme-sage">

      <p>This is services page</p>
      <p>
        See also <LinkIntra location="approaches" text="approaches" />.
      </p>

      <ul>
        <li>
          <LinkIntra
            location="services/individual-adults"
            text="Ατομική Ενηλίκων" />
        </li>
        <li>
          <LinkIntra
            location="services/individual-teenagers"
            text="Ατομική Εφήβων" />
        </li>
        <li>
          <LinkIntra
            location="services/online-sessions"
            text="Διαδικτυακές Συνεδρίες" />
        </li>
        <li>
          <LinkIntra
            location="services/couple-therapy"
            text="Θεραπεία ζεύγους" />
        </li>
        <li>
          <LinkIntra
            location="services/family-therapy"
            text="Θεραπεία οικογένειας" />
        </li>
        <li>
          <LinkIntra
            location="services/parents-counseling"
            text="Συμβουλευτική Γονέων" />
        </li>
      </ul>

    </div>
  </div>

</BaseLayout>
