---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Διαλεκτική συμπεριφορική ψυχοθεραπεία" data-theme="theme-sage">

  <div data-theme="theme-sage">
    <h1>Dialectic</h1>
    <div class="card" data-theme="theme-floral">
      <p>This is dialectic page</p>
    </div>
  </div>

</BaseLayout>

