---
import ContactDetails from "./ContactDetails.astro";
import ContactForm from "./ContactForm.astro";
import GoogleMap from "./GoogleMap.astro";
import IconEmail from "./IconEmail.astro";
import IconPhone from "./IconPhone.astro";
import IconAddress from "./IconAddress.astro";
import { CONFIG } from "../site-config"
---
<div class="contact-details">
  <h3 class="section-title">Στοιχεία Επικοινωνίας</h3>
  <ul>
    <li>
      <span class="contact-icon"><IconEmail /></span>
      <a href={`mailto:${CONFIG.email}`}>{CONFIG.email}</a>
    </li>
    <li>
      <span class="contact-icon"><IconPhone /></span>
      {CONFIG.phone}
    </li>
    <li>
      <span class="contact-icon"><IconAddress /></span>
      {CONFIG.address}
    </li>
  </ul>
</div>
