---
import { CONFIG } from "../site-config";
import ActiveLink from "../components/ActiveLink.astro";
---


<nav class="navigation-bar" data-theme="theme-sage">
  <p>This is nav bar</p>

  <ul>
    <li>
      <ActiveLink location="" text="Home" />
    </li>
    <li>
      <ActiveLink location="approaches" text="Approaches" />
    </li>
    <li>
      <ActiveLink location="services" text="Services" />
    </li>
    <li>
      <ActiveLink location="about" text="About" />
    </li>
    <li>
      <ActiveLink location="contact" text="Contact" />
    </li>
  </ul>
</nav>
